body {margin:0;}
#xxx {background:green; display: block; position: fixed;top:0;left:0;}
#brush {position:absolute; bottom:30px;left:0px;}
.actions {position:fixed;bottom:15px;left:10px;width:160px;}


